version: "3.9"

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: fitness-rabbitmq
    restart: always

    ports:
      - "5672:5672"     # RabbitMQ messaging port
      - "15672:15672"   # Management UI

    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin@123

    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "check_running"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  rabbitmq_data: