version: "3.9"

services:
  postgres-db:
    image: postgres:latest
    container_name: fitness-postgres
    restart: always

    environment:
      POSTGRES_DB: fitness_user_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin@123

    ports:
      - "5432:5432"

    # IMPORTANT CHANGE ↓↓↓
    volumes:
      - postgres_data:/var/lib/postgresql

    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: